/*https://gitcdn.link/repo/faqtoff/FaqStyle/main/src/FaqStyle/Global.css*/
body,
html {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 62.5%; /*rem config*/
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 16px; /*rem config 1rem=10px*/
}
img {
  max-width: 100%;
}
hr {
  border: 1px solid rgba(0, 0, 0, 0.125);
}
/* Componentes */
@import url("https://gitcdn.link/repo/faqtoff/FaqStyle/main/src/FaqStyle/Alert/Alert.css");
@import url("https://gitcdn.link/repo/faqtoff/FaqStyle/main/src/FaqStyle/Button/Button.css");
@import url("https://gitcdn.link/repo/faqtoff/FaqStyle/main/src/FaqStyle/Card/Card.css");
@import url("https://gitcdn.link/repo/faqtoff/FaqStyle/main/src/FaqStyle/Forms/Forms.css");
@import url("https://gitcdn.link/repo/faqtoff/FaqStyle/main/src/FaqStyle/Modal/Modal.css");
@import url("https://gitcdn.link/repo/faqtoff/FaqStyle/main/src/FaqStyle/Navbar/Navbar.css");
@import url("https://gitcdn.link/repo/faqtoff/FaqStyle/main/src/FaqStyle/Navbar/NavbarAside.css");
@import url("https://gitcdn.link/repo/faqtoff/FaqStyle/main/src/FaqStyle/Progressbar/Progressbar.css");

/* Utilidades */
@import url("./Colors/Colors.css");
@import url("./Conteiners.css");
@import url("./Display.css");
@import url("./Grid.css");
@import url("./Size.css");
@import url("./Text.css");
@import url("./Margin.css");
@import url("./Padding.css");
