/*https://gitcdn.link/repo/faqtoff/FaqStyle/main/src/FaqStyle/Text.css*/
h1 {
  font-family: var(--font-primary);
  font-size: 2.5em;
  font-weight: 200;
}
h1 > span {
  font-size: 2.5rem;
}
h2 {
  font-family: var(--font-primary);
  font-size: 2em;
  font-weight: 200;
}
h3 {
  font-family: var(--font-primary);
  font-size: 1.75em;
  font-weight: 100;
}
h4 {
  font-family: var(--font-primary);
  font-size: 1.75em;
  font-weight: 100;
}
p {
  font-family: var(--font-primary);
  font-weight: 100;
  font-size: 25px;
  line-height: 40px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.text-end {
  text-align: end !important;
}
.text-center {
  text-align: center !important;
}
.text-justify {
  text-align: justify !important;
}
.fw-100 {
  font-weight: 100;
}
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fs-1 {
  font-size: 1rem;
}
.fs-2 {
  font-size: 2rem;
}
.fs-3 {
  font-size: 3rem;
}
.fs-4 {
  font-size: 4rem;
}
.fs-5 {
  font-size: 5rem;
}

