body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grego {
  position: fixed;
  top: 25rem;
  background-color: red;
  color: wheat;
  border: none;
  padding: 1rem;
  border-radius: 50%;
}
